@font-face {
	font-family: FonteCorpo;
	src: url("../fonts/index-texto.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body
{
	background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.primeiro
{
	background-color: transparent;
	position: relative;
	vertical-align: center;
	width: 90%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.primeiro2{
	width: 943px;
	height: auto;
	padding: 0px;
	margin: 0 auto;
	font-size: 20px;
	position: relative;
}

.cabecalho{
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.logo{
	width: 500px;
	margin-left: 10px;
}

li.botao{
	color: #4d4d4d;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

li.botao a:hover {
	color: #4d4d4d;
	background-color: transparent;
	text-decoration: underline;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}