@font-face {
	font-family: FonteCorpo;
	src: url("../fonts/index-texto.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.menu{
	width: 100%;
   	max-width: 1000px;
	padding: 0px;
	margin: 0 auto;
	font-size: 20px;
	position: relative;
	border-collapse: collapse;
}

.cabecalho{
	position: relative;
	margin-top: 20px;
	margin-bottom: 0px;
	text-align: center;
}

.MenuButtons {
	font-family: "FonteCorpo";
	font-size: 30px;
	text-decoration: none;
	color: #ffffff;
	padding: 9px 23px;
	display: block;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin-left: 0px;
	margin-right: 0px;
}

.botao {
	-moz-box-shadow: inset 0px 34px 0px -15px #6C3303;
	-webkit-box-shadow: inset 0px 34px 0px -15px #6C3303;
	box-shadow: inset 0px 34px 0px -15px #6C3303;
	background-color: #572800;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}

.botao:hover {
	background-color:#502500;
	box-shadow: inset 0px 34px 0px -15px #502500;
}
.botao:active {
	position: relative;
	top:1px;
}

.telephone {
	font-family: "FonteCorpo";
	font-size: 25px;
	line-height: 25px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	max-width: 1000px;
	text-align: right;
	color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}