@font-face {
	font-family: FonteCorpo;
	src: url("../fonts/index-texto.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.b5{
	background-color:#502500 !important;
	box-shadow: inset 0px 34px 0px -15px #502500 !important;
}

.divcontainer{
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	background-color: white;
	border: 30px solid transparent;
	border-radius: 30px;
	background-color: rgba(255,255,255,0.5);
}

body {

}

h2{
	font-family: "FonteCorpo";
	line-height: 1.42857143;
	font-weight: 500;
	line-height: 1.1;
	color: rgba(24, 24, 132, 0.72);
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: unset;
}

.lab {
	font-family: "FonteCorpo";
	display: inline-block;
	margin-bottom: 5px;
	font-weight: unset;
	color: rgba(24, 24, 132, 0.72);
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

.input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
}

textarea.form-control {
	height: auto;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font: "FonteCorpo";
	color: rgba(24, 24, 132, 0.72);
}

.small {
	font-size: 14px;
}