.image {
	width: 100%;
	margin-bottom: 10px;
	box-shadow: 5px 5px 5px #000; 
}

.b2 {
	background-color:#502500 !important;
	box-shadow: inset 0px 34px 0px -15px #502500 !important;
}

.rotate90 {
	width: 100%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    overflow: hidden;
}