@font-face {
	font-family: FonteCorpo;
	src: url("../fonts/index-texto.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.b1{
	background-color:#502500 !important;
	box-shadow: inset 0px 34px 0px -15px #502500 !important;
}

#cnt 
{
	width: 1000px;
	margin: 0 auto;
	height: auto;
	position: relative;
}

#img {
	width: 100%;
   	max-width: 1000px;
	position: relative;
	left: 0;
	top: 0;
	display: table;
}

.image{
	height: 250px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 75px;
}

.img{
	height: 100%;
}

.img.left{
	border: 12px solid transparent;
	float: left;
	margin-right: 50px;
	border-image: url(../images/border.png) 15 / 15px round;
}

.img.right{
	border: 12px solid transparent;
	float: right;
	margin-left: 50px;
	border-image: url(../images/border.png) 15 / 15px round;
}

.text{
	display: block;
	text-align: justify;
	font-size: 18px;
	font-family: "FonteCorpo";
	color: rgba(24, 24, 132, 0.72);
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	border-radius: 10px;
}

.video{
	position: relative;
	vertical-align: center;
	margin-bottom: 100px;
	margin-top: 0px;
}

.objetovideo{
	position: relative;
	width: 1040px;
	height: 520px;
	
}

.icon{
	width: 32px;
	margin: 5px;
}

.paragraph {
	text-indent: 50px;
}