.language {
	position: absolute;
	width: 100%;
}

.linkporcima {
	position: relative;
	margin-left: auto;
	display: table;
}

.language-icon {
	display: block;
	text-align: right;
	width: 30px;
	margin-right: 10px;
}
