@font-face {
	font-family: FonteCorpo;
	src: url("../fonts/index-texto.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.b4{
	background-color:#502500 !important;
	box-shadow: inset 0px 34px 0px -15px #502500 !important;
}

#map-canvas {
width: 100%;
height: 400px;
}

.mapa{
	margin: 0px auto;
	border: 10px solid white;
}

.container.segundo{
	padding-top: 50px;
	padding-bottom: 50px;
}

.divcontainer{
	width: 80%;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.5);
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 50px;
}

.text{
	display: inline-block;
	margin-bottom: 5px;
	font-weight: initial;
	color: rgba(24, 24, 132, 0.72);
	font-size: 18px;
	font-family: "FonteCorpo";
	text-align: justify;
}

.text2{
	display: inline-block;
	margin-bottom: 5px;
	font-weight: initial;
	color: rgba(24, 24, 132, 0.72);
	font-size: 18px;
	font-family: "FonteCorpo";
	text-align: justify;
}