.divcontainer{
	width: 80%;
	margin: 0 auto;
	vertical-align: center;
	background-color: white;
	border: 30px solid transparent;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.5);
	color: rgba(24, 24, 132, 0.72);
	font-family: "FonteCorpo";
}