@font-face {
	font-family: FonteCorpo;
	src: url("fonts/index-texto.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.b6{
	background-color:#502500 !important;
	box-shadow: inset 0px 34px 0px -15px #502500 !important;
}

.text{
	display: inline-block;
	margin-bottom: 5px;
	font-weight: unset;
	color: rgba(24, 24, 132, 0.72);
	font-size: 25px;
	font-family: "FonteCorpo";
	text-align: justify;
}

.divcontainer{
	width: 100%;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.5);
	padding: 20px;
	border-radius: 10px;
}

.image{
	height: 250px;
}

.img{
	height: 100%;
}

.img.left{
	float: left;
	margin-right: 50px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.text2{
	display: block;
	text-align: justify;
	font-size: 18px;
	font-family: "FonteCorpo";
	padding: 20px;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.5);
}

.divcontainer{
	margin-bottom: 30px;
	
}